body{
    margin: 0px;
    overflow-x: hidden;
    background-color: #262626;
}
*{
margin: 0;
padding: 0;
}
.main-nav{
    height: 200px;
    width: 100%;
    background-color:#262626;
}

.nav-congranier{
    display: flex;
    width: 90%;
    padding-left: 5%;
    justify-content: space-around;
    text-align: center;
    height: 230px;
    padding-top: 0px;
}
.Logo{
    padding-top: 20px;
}
.nav-style{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 60px;
    border: 1px solid #e1b838;
    margin-top: 70px;
}
.mav-items{
    list-style: none;
    padding-top:10px ;
}
.mav-items:hover{
    height: 50px;
    width: 120px;
    background-color: #e1b838;
}
.mav-items:hover .nav-links{
    color: #262626;
}
.nav-links{
    text-decoration: none;
    color: #e1b838;
    font-size: 34px;
}
.toggle{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    visibility: hidden;
}
/* S1-section */
.S1-section{
    height: auto;
    margin: 0px;
}
.S1-contranier{
    background-image: url(./S1-background.png);
    background-size: 100% 100%;
    height: 700px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.childS1{
    width: 500px;
    height: 150px;
    margin-left:0% ;
    text-align: center;
    background-color: #e1b838;
}
.open{
    list-style: none;
    font-size: 46px;

}
.PARTY{
    list-style: none;
    margin-top: 20px;
    font-size: 41px;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    background-color: #262626;
    color: white;
    

}
.food{
    list-style: none;
    color: white;
    font-size: 42px;
    padding-top: 30px;
}
/* S2-section */
.S2-section{
    height: 1000px;
    margin: 0px;
    background-image: url(./BackgroundS2.png);
    background-size: 100% 100%;
}
.menu{
    font-size: 80px;
    color: white;
    padding-top: 40px;
    text-align: center;
    list-style: none;
}
.S2-contranier{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    text-align: center;
}
.childS2{
    width: 29%;
}
.cardS2-1{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border: 2px solid #e1b838;
    text-align: left;
    box-shadow: 0px 0px 10px 0px ;

}
.chiken{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 5%;
    width: 95%;
    height: 50px;
    background-color: #e1b838;
    color: #262626;
    list-style: none;
}
.imageS2{
    margin: 0px;
}
.S2-ul{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    padding-top: 10px;
}
.pen{
    list-style: none;
    font-size: 25px;
    color: white;
}
/* sectionS3 */
.sectionS3{
    height: 700px;
    background-image: url(./BackgroundS2.png);
    background-size: 100% 100%;
    margin-top: 50px;
}
.contranierS3{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 10%;
    height: 600px;
    padding-top: 50px;
}
.childS3-2{
    width: 44%;
    background-image: url(./S3-image.png);
    background-size: 100% 100%;
}
.childS3-1{
    text-align: right;
    align-items: flex-end;
    padding-top: 50px;
    padding-right: 40px;
}
.get{
    font-size: 35px;
    color: #e1b838;
    padding-top: 10px;
    list-style: none;
    padding-bottom: 10px;
}
.discount{
    padding-top: 0px;
    font-size: 60px;
    color: #e1b838;
    max-width: 800;
list-style: none;
}
.button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: #e1b838;
    color: #262626;
    font-size: 20px;
}
.button-1{
position: absolute;
right: 180px;
margin-top: 10px;
}
.S3-logo{
    padding-top: 100px;
}
.expreience{
    font-size: 35px;
    color: #e1b838;
}
/* S4-section */
.S4-section{
    height: 800px;
    background-image: url(./S4-backimage.png);
    background-size: 100% 100%;
    margin-top: 50px;

}
.S4-contranier{
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 200px;
    padding-top: 50px;
}
.childS4-1{
    width: 48%;
    border: 2px solid #e1b838;
    text-align: center;
    height: 170px;
}
.specila{
    font-size: 40px;
    width: 100%;
    height: 60px;
    background-color: #e1b838;
    color: #262626;
}
.lore-S4{
    list-style: none;
    padding-top: 25px;
    font-size: 40px;
    color: aliceblue;
}
.childS4-2{
    width: 50%;
    margin-left: 4%;
}
.loremS4-2{
    font-size: 25px;
    color: white;
}
/* S5-section */
.S5-section{
    height: 700px;
    background-image: url(./Background-S5.png);
    background-size: 100% 100%;
}
.S5-contanier{
    width: 90%;
    padding-left: 10%;
    height: 600px;
    padding-top: 50px;
    display: flex;

}
.childS5-1{
    background-image: url(./S5-1st.png);
    background-size: 100% 100%;
    width: 50%;
}
.childS5-2{
    width: 300px;
    height:250px ;
    border: 2px solid #e1b838;
    margin-top: 180px;
    margin-left: 150px;
    padding-left: 0px;
}
.method{
    font-size: 60px;
    list-style: none;
    background-color: #e1b838;
    color: #262626;
    width: 100%;
    height: 70px;
    padding-left:0 px;
}
.liremS5{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 23px;
    color: white;
}
/* sectionS6 */
.sectionS6{
    height: 700px;
    background-image: url(./Background-S5.png);
    background-size: 100% 100%;
margin-top: 50px
}
.S-6-div{
    display: flex;
    background-image: url(./S-6-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    background-position-y:200px;
    
}
.childS61{
    margin-left: 10%;
    width: 30%;
    border: 2px solid #e1b838;
    text-align: center;
    height: 200px;
    margin-top: 40px;
}
.live{
    font-size: 50px;
    list-style: none;
    width: 100%;
    max-width: 1080;
    height: 70px;
    background-color: #e1b838;
}
.night{
    font-size: 40px;
    padding-top: 10px;
    color: white;
    list-style: none;

}
.friday{
    font-size: 40px;
    list-style: none;
    color: white;
    padding-top: 10px;
}
.loremS6{
    padding-top: 150px;
    width: 50%;
    font-size: 25px;
    color: white;
    margin-left: 100px;
}
/* footer */
.footer{
    height: 600px;
    text-align: center;
}
.foot-logo{
    padding-top: 50px;
}
.meat{
    list-style: none;
    font-size: 50px;
    padding-top: 30px;
    text-shadow: 5px 8px 20px white;
color: #e1b838;
}
.foot-contranier{
    display: flex;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 20px;
}
.Child-foot-1{
    height: 150px;
    width: 40%;
    border: 2px solid #e1b838;
}
.open-mon{
    font-size: 40px;
    width: 100%;
    height: 50px;
    background-color: #e1b838;
    color: #262626;
    list-style: none;
}
.monday{
    padding-top: 20px;
    color:white;
    font-size: 25px;

}
.Child-foot{
    padding-left: 100px;
}
.home{
    font-size: 30px;
    word-spacing: 50px;
    color: white;
    padding-left: 50px;
    padding-top: 40px;
    text-align: left;
}
.madison{
    display: flex;
    padding-top: 40px;
    padding-left: 15%;
}
.Madison{
    color: white;
    font-size: 40px;


}
.foot-ul{
    padding-left: 300px;

}
.foot-icon{
    height: 40px;
    width: 50px;
    background-color: #e1b838;
    border-radius: 10px;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    color: #262626;

}